/* Main Board */
.main-board{
    background-image: url(../image/background.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-top: 170px;
}

.main-right img{
    width: 400px;
}

.text-shadow{text-shadow: 2px 2px 2px black;}
.bg-bluekTransparant{background-color: #222831ee;}
.bg-bluek{background-color: #222831;}

.button-inwrapper{
  margin-top: 20px;
  display: inline-block;
  padding: 6px 50px;
  border-radius: 20px;
  background-color:#373438;
  color:white;
  font-size: 20px;
  box-shadow:0 7px 5px 0 #858585;
}
.button-inwrapper:hover{
 background-color: white;
 color: black;
 transition: 0.55s;
}

.instagram-thumbnail{
    margin: 5px;
    width: 100px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.instagram-thumbnail img{
    width: 100px;
}

/* Tombol smooth top */
/* Back to Top Pure CSS by igniel.com */
html {scroll-behavior:smooth;}
.ignielToTop {width:50px; height:50px; position:fixed; bottom:50px; right: 50px; z-index:99; cursor:pointer; border-radius:100px; transition:all .5s; background: #222831 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
.ignielToTop:hover {background: #ffd369 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}

/* Main-Skill */
.skill-right img{width: 400px;}
.button-incenter{
    display: inline-block;
    padding: 8px 30px;
    border-radius: 20px;
    background-color:#373438;
    color:white;
    font-size: 13px;
    box-shadow:0 7px 5px 0 #858585;
}
.button-incenter:hover{
 background-color: white;
 color: black;
 transition: 0.55s;
}

/* Tech Stock */
#myskill{
    margin-top: 60px;
}
.myskill-header > h1{
    padding-bottom: 5px;
    font-size: 2.5em;
}
.myskill-tech{
    margin-top: 20px;
}
.myskill-tech ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
/* End Stack */

/* sosmed */
a h4{color: black;}
a h4:hover{color: rgb(0, 89, 255);}

/* footer */
.footer{
    background-color: #222831;
}

.contacts p a{
    color: black;
    text-decoration: none;
}
.contacts p a:hover{
    color: #0bb3e4;
}

.fb img,.ig img{
    width: 50px;
}
.fb-bottom img:hover{
    transition: 0.40s;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 4px #3c5798;
}
.ig-bottom img:hover{
    transition: 0.40s;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 4px #b9358a;
}

.a-social-media{text-decoration: none;}
.a-social-media .p-social-media:hover{color: #0bb3e4;}
.p-social-media{color: black;}

.a-blog a{text-decoration: none;}   
.copyright p{font-size: 13px;}
.copyright p span{color: #0bb3e4;}
